body{
  width:100vw;
  height:100vh;
  background-color:rgb(247, 247, 247)  ;
}

header{
  width:100vw;
  height:7vh;
  background-color: rgb(113, 203, 241);
}


.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  padding-bottom: 60px; 
  /* ←フッターの高さを指定 */
  box-sizing: border-box;
  /* ↑ヘッダーやフッターを含むすべての要素の高さ＝min-height:100vhになるように指定 */
}

footer{
  position: absolute;/* ←絶対位置 */
  bottom: 0;
  width:100vw;
  height: 8vh;
  
  /* 以下 背景色やテキストカラー */
  background: rgb(113, 203, 241);
  color: #fff;
  text-align: center;
  
}

footer p{
  
}





/* メインコンテンツはここから */
.wrapper{
  width: 100vw;
  min-height:90vh;
  display: flex;
  justify-content: center;
}



.left-content{
  padding-top: 3vh;
  width: 23vw;
  min-height:70vh;
}

.left-box{
  width: 20vw;
  min-height:50vh;
  background-color: white;
  margin:auto auto;
  line-height: 2;
}






/* 右側のコンテンツはここから */

/* 右側のコンテントの切替 */

.right-content{
  padding-top: 3vh;
  width: 53vw;
  min-height:70vh;
}



.tab-wrap {
  display: flex;
  flex-wrap: wrap;
}
.tab-label {
  color: #ffffff;
  background: gainsboro;
  margin-right: 6.5px;
  padding: 3px 12px;
  order: -1;
  width:17vw;

}
.tab-content {
  width: 52vw;
  min-height:70vh;
  display: none;
  background-color: gainsboro;
  padding-bottom: 5px;
}
/* アクティブなタブ */
.tab-switch:checked+.tab-label {
  background: rgb(113, 203, 241);
}
.tab-switch:checked+.tab-label+.tab-content {
   display: block;
}
/* ラジオボタン非表示 */
.tab-switch {
  display: none;
}





/* 右側コンテンツの編集 */
.feed{
  width:50vw;
  height:45vh;
  background-color: white;
  margin: 1vh auto;
  position: relative;
}

.feed-icon{
  width:24px;
  height:24px;
  vertical-align:middle;
}

span{
  vertical-align:middle;
}

.feed-pict{
  height: 23vh;
  width:auto;
  margin-left:5vw;
  margin-top:1vh;
  margin-bottom:1vh;
}



.feed-right{
  width:25vw;
  margin:1vh 0 1vh 1vw;
}


.icon{
  height: 1vh;
  width:1vw;
}


.feed-bottom{
  height: 5vh;
  bottom: 1vh;
  margin-left: 1vw;
  position:absolute;
}

.float{
  float: left;
  height: 3vh;
  margin-left: 1vw;
  margin-top:1vh;
}

.feed-top{
  align-items: center;
}


.kigyo{
  font-size: 2vh;
  color: #212529;
  margin-top: 0vh;
  display: block;
  padding-top: 1.5vh;
  margin-left:3vw;
}

p.corp{
  margin-left: 2vw;
  font-weight: bold;
  padding-top: 2vh;
}

span.kigyo-name {
  font-size: 3.5vh;
}

p.kigyo-comme {
  margin-left: 2vw;
  margin-right: 2vw;
}