body{
    background-color: rgb(247, 247, 247) ;
}


/* 以下、header---------------------------- */
.header{
    width: 100vw;
    height: 7vh;
    background-color:rgb(113, 203, 241);
    display: flex;
    align-items: center;
}

.header h1 {
    margin: 0 0 0 30px;
    padding: 0;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
  }
  
.header nav {
    margin: 0 20px 0 auto;
  }

.header nav ul{
    display: flex;
    align-items: center;
}

.header nav ul li{
    margin: 0 0 0 80px;
}

/* 以上、header---------------------------- */


/* 以下、main---------------------------- */
#profile{
    display: flex;
    justify-content: center;
   
}



/* 以下、leftprofile --------*/
#leftprofilebox{
    width: 360px;
    height: 650px;
    margin-right: 16px;
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 16px;
}

#leftprofile{
    background: #FFFFFF;
    width: 360px;
    height: auto;
    max-height: 650px;
    
}

#leftprofile #leftprofile1{
    width: 90%;
    height: 200px;
    /* background-color: aqua; */
    margin: 0 auto;
    display: flex;
    justify-content: center;
   align-items: center;
}

#leftprofile #leftprofile1 img{
    object-fit: contain;
    width: 70%;
    height: 70%;
    /* border-radius: 50%; */
}

#leftprofile #leftprofile2{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#leftprofile #leftprofile3{
    display:flex;
    justify-content: center;
    align-items: center;
    height: auto;
    max-height: 80px;
    padding-bottom: 5px;
    padding-top: 5px;

}

#leftprofile #leftprofile3 a{
    padding-left: 20px;
    padding-right: 20px;
}


#leftprofile #leftprofile4{
    width: 100%;
    height: auto;
    max-height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#leftprofile #leftprofile4 p{
    width: 90%;
    height: auto;
    word-wrap:break-word;
    line-height: 25px;
}


#leftprofile #leftprofile5{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */

}

#leftprofile #leftprofile5 .p5{
    font-size: 25px;
    font-weight: 500;  
    height: 35px;
}

#leftprofile #leftprofile5 .p6{
    font-size: 15px;
    height: 30px;
}

#leftprofile #leftprofile5 #leftprofile5_1{
    /* background-color: aquamarine; */
    width: 104px;
    text-align: center;
    
    
}

#leftprofile #leftprofile5 #leftprofile5_2{
    /* background-color: brown; */
    width: 104px;
    text-align: center;
}

#leftprofile #leftprofile6{
    text-align: center;
    padding-bottom: 20px;
}

#leftprofile #leftprofile6 a{
    display: inline-block;
    border: 2px solid #ccc;
    font-size: 18px;
    padding: 4px 0;
    text-align: center;
    width: 80%;
    background-color: #777;
    color: #fff;
    border-color: #777;
    font-weight: bold;
}

/* #leftprofile #leftprofile7{
    text-align: center;
}

#leftprofile #leftprofile7 a{
    font-size: 13px;
    color: gray;
    text-decoration: none;
} */
   
/* 以上、leftprofile --------*/


/* 以下、rightprofile --------*/
#rightprofile{
    width: 700px;
}


#rightprofile #like{
    background: #FFFFFF;
    width: 100%;
    height: auto;
    margin-top: 16px;
    margin-bottom: 15px;
}

#rightprofile #like #like1{
    /* background-color: hotpink; */
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

#rightprofile #like ul{
    list-style: none;
}

#rightprofile #like ul a{
    font-size:20px;
    font-weight: bold;
    color: black;
}

#rightprofile #like ul li{
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#rightprofile #like ul li #li1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size:16px;
    padding-top: 10px;
    padding-bottom: 10px;

    /* background-color: cyan; */
}
#rightprofile #like ul li #li2{
    font-size:13px;
    padding-top: 10px;
    padding-bottom: 10px;

}


#rightprofile #article{
    background: #FFFFFF;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 15px;
}

#rightprofile #article #article1 {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;   
}

#rightprofile #article ul{
    list-style: none;
}

#rightprofile #article ul a{
    font-size:20px;
    font-weight: bold;
    color: black;
}

#rightprofile #article ul li{
    padding-right: 40px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#rightprofile #article ul li #li1{
    font-size:13px;
    padding-top: 10px;
    padding-bottom: 10px;
}







/* 以上、rightprofile --------*/
/* 以上、main---------------------------- */



